extends ../../layouts/layout

block vars
	- var classPage = "contact-page"
	- var titlePage = "Контакты"

block content
	section
		.container
			h1 Пиши и звони (лучше <mark>пиши</mark>)

		.container
			h2 Мои контакты:
			p
				span Телефон: 
				a(href="tel:+79174254746") +7 (917) 425-47-46
			p
				span Электропочта: 
				a(href="mailto:hello@danielapril.ru") hello@danielapril.ru
			p
				mark Telegram: 
				a(href="https://t.me/DanielApril") @DanielApril
			p
				span Instagram: 
				a(href="https://www.instagram.com/thedanielapril/") @thedanielapril

			h2 Источники:
			p
				span Цветовая палитра: 
				a(href="https://www.instagram.com/awsmcolor/") @awsmcolor
			p
				span Иконки: автор утерян
			p
				span Иллюстрации: 
				a(href="https://lottiefiles.com") LottieFiles
