extends ../../layouts/layout

block vars
	- var classPage = "referral-page"
	- var titlePage = "Рефералки"

block content
	section
		.container
			h1 Разные ништяки

			.ref-list
				.ref
					h3 Тинькофф физ. лицам
					p.ref__desc Кредитка, дебет, страхование, e.t.c&nbsp;&mdash; все удобно и&nbsp;круто в&nbsp;приложении.
					.link-wrap
						.icon
							include ../../../img/link.svg
						a(href="https://www.tinkoff.ru/sl/7DgaV49sP9i").prom Ссылка

				.ref
					h3 Тинькофф для ИП и ООО
					p.ref__desc Для ИП&nbsp;крайне удобно&nbsp;&mdash; есть бесплатная бухгалтерия, за&nbsp;2000 в&nbsp;год сделают ЭЦП и&nbsp;подадут декларацию сами. Можно платить налоги сидя в&nbsp;трамвае и&nbsp;переводить себе на&nbsp;карту в&nbsp;течение 5&nbsp;минут. Все детали&nbsp;&mdash; по&nbsp;ссылке.
					.link-wrap
						.icon
							include ../../../img/link.svg
						a(href="https://link.tinkoff.ru/6cFSXsrFcXS").prom Ссылка

				.ref
					h3 Такси "Ситимобил"
					p.ref__desc Очень дёшево, есть кешбэк, приложение удобное
					.link-wrap
						.icon
							include ../../../img/copy.svg
						.prom CVQLD05
