extends ../../layouts/layout

block vars
	- var classPage = "about-page"
	- var titlePage = "Обо мне"

block content
	section
		.container
			h1 Кое-что обо мне
			h3 Если кратко, то:
			ul
				li Гедонист
				li Агностик
				li Люблю объяснять людям разные интересные штуки, которые знаю сам
