extends ../layouts/layout

block vars
	- var classPage = "index-page"
	- var titlePage = "Даниэль Пасько - верстальщик"

block content
	section
		.container
			h1 Привет<br><br>Я&nbsp;&ndash; <mark>Даниэль Пасько</mark>, верстаю корпоративные сайты и&nbsp;интерфейсы веб&#8209;приложений
			h2 Сейчас активно делаю внутренюю часть сервиса&nbsp;
				a(href="https://finom.co") Finom
