extends ../layouts/layout

block vars
	- var classPage = "index-page noise"
	- var titlePage = "Даниэль Пасько - верстальщик"
	- var descPage = "Верстаю корпоративные сайты и интерфейсы веб‑приложений"

block content
	section
		.container
			h1 Привет<br><br>Я&nbsp;&ndash; <mark>Даниэль Пасько</mark>, верстаю корпоративные сайты и&nbsp;интерфейсы веб&#8209;приложений
			h2 Последние 2&nbsp;года делаю внутренюю часть сервиса&nbsp;
				a(href="https://finom.co").finom Finom
