extends ../../layouts/layout

block vars
	- var classPage = "portfolio-page"
	- var titlePage = "Портфолио"

block content
	section
		.container
			h1 Принял участие в&nbsp;следующих проектах

			.port-list
				.port
					h3 Finom
					p.port__desc Верстаю всё, чем пользуются клиенты сервиса&nbsp;&mdash; PDF, письма, интерфейс веб-приложения.

				.port
					h3 Модульбанк
					p.port__desc Верстал всё, чем пользуются клиенты банка. Руководил командой вёрстки из&nbsp;4&nbsp;человек.

				.port
					h3 Alex Nerovnya Architecture
					p.port__desc Корпоративный сайт для архитектора и&nbsp;его команды из&nbsp;Москвы
					a.port__link(href="alex-nerovnya.com") alex-nerovnya.com

				.port
					h3 СтройТелекомСервис
					p.port__desc Простой корпоративный сайт
					a.port__link(href="https://sts2016.ru") sts2016.ru
