footer.page-footer
	.container
		p
			span Источники:
		p
			span Цветовая палитра: 
			a(href="https://www.instagram.com/awsmcolor/") @awsmcolor
		p
			span Иконки: автор утерян
		p
			span Иллюстрации: 
			a(href="https://lottiefiles.com") LottieFiles
