include ./metrika.pug

header.page-header
	.container.hidden
		button.button.icon(type="button")#toggle-fullscreen
			include ../../img/expand.svg
		div
		button.button.icon(type="button")#toggle-color-scheme
			include ../../img/brightness-medium.svg
