nav.page-menu
	.container
		ul
			li
				a(href="/")
					.icon
						include ../../img/home.svg
					span Главная
					//- include ../../img/wave-footer.svg
			li
				a(href="/about/")
					.icon
						include ../../img/user.svg
					span Обо мне
					//- include ../../img/wave-footer.svg
			li
				a(href="/portfolio/")
					.icon
						include ../../img/suitcase.svg
					span Портфолио
					//- include ../../img/wave-footer.svg
			li
				a(href="/referral/")
					.icon
						include ../../img/link.svg
					span Рефералки
					//- include ../../img/wave-footer.svg
			li
				a(href="/contact/")
					.icon
						include ../../img/mail.svg
					span Контакты
					//- include ../../img/wave-footer.svg
