extends ../../layouts/layout

block vars
	- var classPage = "index-page"
	- var titlePage = "Даниэль Пасько - верстальщик"

block content
	section
		.container
			h1 Ошибка <mark>404</mark>
			h2 Что-то пошло не так, но я уже в курсе
			p Пиши мне в&nbsp;
				<a href="https://t.me/@DanielApril">Telegram</a>
				| , если у тебя срочный вопрос
