extends ../../layouts/layout

block vars
	- var classPage = "index-page"
	- var titlePage = "Что-то пошло не так :c"

block content
	section
		.container
			h1 Ошибка <mark>404</mark>
			h2 Что-то пошло не&nbsp;так, но&nbsp;я&nbsp;уже в&nbsp;курсе
			p Пиши мне в&nbsp;
				<a href="https://t.me/@DanielApril">Telegram</a>
				| , если у&nbsp;тебя срочный вопрос
